<!doctype html>
<html lang="en">
  <head>
    <title>Sasquatch Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  </head>
  <body>
      <div class="container text-center">
          <h4 class="display-4">Sasquatch Dashboard</h4>
          <div class="text-right">
              <a href="/"><button class="btn btn-info">Home</button></a>
        
          </div>
      </div>
      <br>
      <% if(messages.inputs) {%>
        <div class="alert alert-danger">
            <% for (var i of messages.inputs) {%>
                <p><%= i %></p>
            <% }%>

        </div>
    <% }%>
      <div class="container">
          <h4>Edit a Sasquatch</h4>
        <form action="/sasquatch/edit/<%= info[0]._id %>" method="post">
            <input class="form-control" type="text" placeholder="Name" name='name' value="<%= info[0].name %>">
            <br>
            <input class="form-control" type="text" placeholder="age" name='age'value="<%= info[0].age %>">
            <br>
            <input class="form-control" type="text" placeholder="Hair Color" name='hair' value="<%= info[0].Hair_color %>">
            <br>
            <input class="form-control" type="text" placeholder="Image Link" name='image' value="<%= info[0].image %>">
            <br>
            <button class="btn btn-success" type="submit">Update</button>
        </form>
                  
      </div>
  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  </body>
</html>